@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.container-standard {
  margin: auto;
  max-width: 1200px;
  padding: 15px;
  padding-top: 100px;
  min-height: 100vh;
}

.container-grid-2rows {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  min-height: 100vh;
}

.container-grid-3cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  max-width: 1200px;
  margin: 30px 0px 50px;
  text-align: center;
}
.container-grid-3cols img {
  border: 1px solid transparent;
  border-radius: 10px;
  height: 75%;
  width: 90%;
  transition: 0.5s;
}
.container-grid-3cols img:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 20px white;
}

.bg-parallax {
  background-image: url("../images/bg-parallax_img.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  min-height: 100vh;
}

.bg-gradient {
  background: linear-gradient(#091131, #0075b9);
}

.bg-header-in {
  width: 100%;
  height: 80px;
  position: absolute;
  background: linear-gradient(to right, #091131, #0075b9);
  animation: bg-color-in;
  z-index: -1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bg-color-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

.bg-header-out {
  width: 100%;
  height: 80px;
  position: absolute;
  background: linear-gradient(to right, #091131, #0075b9);
  animation: bg-color-out;
  z-index: -1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bg-color-out {
  0% {
    height: 90px;
  }
  100% {
    height: 0;
  }
}

body {
  color: #ffffff;
  overflow-x: hidden;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  line-height: clamp(2rem, 2vw, 2rem);
}
body a::selection,
body h1::selection,
body h2::selection,
body h3::selection,
body li::selection,
body p::selection {
  background-color: #2e9f4c;
}
body a {
  color: #afa9a9;
  text-decoration: none;
}
body a:hover {
  color: #ffffff;
}
body h2 {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  line-height: clamp(3.5rem, 5vw, 5rem);
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
body h3 {
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  line-height: clamp(2.6rem, 3vw, 3rem);
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}
body p {
  margin-bottom: 20px;
}
body ul,
body li {
  list-style: none;
}

header {
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  height: 80px;
}
@media (max-width: 800px) {
  header {
    background: linear-gradient(to right, #091131, #0075b9);
    opacity: 0.95;
  }
}
header .header_innercontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 1200px;
  margin: auto;
}
header .header_innercontainer .logo #logoimg {
  display: block;
  padding: 5px;
  max-height: 60px;
}
header .header_innercontainer .menu_nav__list li {
  display: inline;
  padding: 5px;
  list-style: none;
}
header .header_innercontainer .menu_nav__list a {
  border-bottom: 2px solid transparent;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: 0.6s;
}
header .header_innercontainer .menu_nav__list a:hover {
  border-bottom: 2px solid white;
}
header .header_innercontainer .menu_mobile {
  display: none;
}
@media (max-width: 800px) {
  header .header_innercontainer .menu_nav__list {
    background: linear-gradient(to right, #091131, #0075b9);
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 10px;
    top: 80px;
    left: 100vw;
    transition: 0.5s;
  }
  header .header_innercontainer .menu_nav__list li {
    display: block;
    margin-left: 10px;
  }
  header .header_innercontainer .menu_nav__list a {
    display: block;
    padding: 10px;
  }
  header .header_innercontainer .menu_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
  }
  header .header_innercontainer .menu_mobile .mm_line1,
  header .header_innercontainer .menu_mobile .mm_line2,
  header .header_innercontainer .menu_mobile .mm_line3 {
    border-radius: 2px;
    height: 3px;
    background-color: white;
    transition: 0.5s;
  }
  header .header_innercontainer .transform_menu_icon .mm_line1 {
    transform: translate(0, 10px) rotate(-45deg);
  }
  header .header_innercontainer .transform_menu_icon .mm_line2 {
    opacity: 0;
  }
  header .header_innercontainer .transform_menu_icon .mm_line3 {
    transform: translate(0, -10px) rotate(45deg);
  }
  header .header_innercontainer .left0 {
    left: 0;
  }
}
@media (max-width: 600px) {
  header .header_innercontainer .logo #logoimg {
    display: block;
    max-height: 40px;
  }
  header .header_innercontainer .menu_mobile {
    width: 20px;
    height: 20px;
  }
  header .header_innercontainer .transform_menu_icon .mm_line1 {
    transform: translate(0, 6px) rotate(-45deg);
  }
  header .header_innercontainer .transform_menu_icon .mm_line2 {
    opacity: 0;
  }
  header .header_innercontainer .transform_menu_icon .mm_line3 {
    transform: translate(0, -7px) rotate(45deg);
  }
}

main .main-text1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
  line-height: clamp(3.5rem, 6vw, 6rem);
  align-self: flex-end;
  margin-left: 5%;
}
main .main-random-text {
  font-size: clamp(3.5rem, 8vw, 8rem);
  line-height: clamp(5rem, 9vw, 9rem);
  font-weight: 700;
  margin-left: 5%;
}

.about {
  background: linear-gradient(#091131, #0075b9);
}
.about .about_text {
  text-align: center;
}
.about .about_grid_item:nth-child(1n) {
  margin-bottom: 15px;
}
.about .about_grid_item:nth-child(2) img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.about .about_grid_item:nth-child(3) img:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}
.about .about_grid_item:nth-child(4) img:hover {
  animation: anima-box-mright;
  animation-duration: 0.5s;
}
@keyframes anima-box-mright {
  50% {
    margin-right: -50px;
  }
  100% {
    margin-right: 0px;
  }
}
.about .about_grid_item:nth-child(5) img {
  transition: 1s;
}
.about .about_grid_item:nth-child(5) img:hover {
  transform: rotatey(180deg);
  transition: 1s;
}
.about .about_grid_item:nth-child(6) img:hover {
  animation: anima-box-mleft;
  animation-duration: 0.5s;
}
@keyframes anima-box-mleft {
  50% {
    margin-left: -50px;
  }
  100% {
    margin-left: 0px;
  }
}
.about .about_grid_item:nth-child(7) img {
  transition: 1s;
}
.about .about_grid_item:nth-child(7) img:hover {
  transform: rotatex(180deg);
  transition: 1s;
}
.about .about_grid_item:nth-child(8) img:hover {
  animation: anima-box-translate-right;
  animation-duration: 0.5s;
}
@keyframes anima-box-translate-right {
  50% {
    transform: translate(40px);
  }
}
.about .about_grid_item:nth-child(9) img:hover {
  animation: anima-box-translate-left;
  animation-duration: 0.5s;
}
@keyframes anima-box-translate-left {
  50% {
    transform: translate(-40px);
  }
}

.qualifications .qualifications_text li::before {
  content: "☆";
  color: #afa9a9;
}

.projects {
  background: linear-gradient(#091131, #0075b9);
}
.projects .project_grid_item:nth-child(1n) {
  margin-bottom: 15px;
}
.projects .project_grid_item img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.projects:has(img:hover) img:not(:hover) {
  opacity: 0.5;
  transform: scale(0.8);
}

.contact .contact-links {
  background-color: #ffffff;
  border-top: 2px solid #000000;
  color: #0075b9;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.contact .contact-links a {
  color: #0075b9;
  font-size: 2em;
  transition: 0.5s;
  margin: 10px;
}
.contact .contact-links a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.footer {
  background-color: #000000;
  text-align: center;
  padding: 5px;
}

.up-button {
  display: none;
  position: fixed;
  top: 50vh;
  right: 0;
  background-color: white;
  padding: 3px;
  width: 40px;
  height: 40px;
  border-radius: 50% 0 0 50%;
  z-index: 1;
  cursor: pointer;
}

.up-button-show {
  display: flex;
  animation: up-button-animation;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
@keyframes up-button-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
